<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/css/dashboard.css">

    </head>

    <body>

    <!-- HEADER -->
    <div class="header">
        <div class="welcome">Welcome, {{ user }}!</div>
        <div class="title">ACME University</div>
        <div><a href="/logout">Sign out</a></div>
    </div>

    <!-- WRAPPER -->
    <div class="wrapper">

        <!-- TABS -->
        <div class="tabs">
            <div class="tab active" onclick="showTab('mine')">Your Courses</div>
            <div class="tab inactive" onclick="showTab('add')">Add Courses</div>
        </div>

        <div class="content">

            <!-- YOUR COURSES -->
            <div id="mine">

                <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students</th>
                        <th>Action</th>
                    </tr>

                    {% for c in classes %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.teacher }}</td>
                        <td>{{ c.time }}</td>
                        <td>{{ c.student_count }}/{{c.capacity}}</td>
                        <td><a href="/delete/{{ c.id }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <!-- ADD COURSES -->
            <div id="add" class="hidden">

                <table>
                    <tr>
                        <th>Course Name 2</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students</th>
                        <th>Action</th>
                    </tr>

                    {% for c in course_catalog %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.teacher.name }}</td>
                        <td>{{ c.timing }}</td>
                        <td>{{ c.student_count }}/{{c.capacity}}</td>
                        <td><a href="/join/{{ c.id }}">Join</a></td>
                    </tr>
                    {% endfor %}

                </table>

            </div>

        </div>
    </div>
    <link rel="script" href="../static/js/dashboard.js">

    <script>
    function showTab(tab) {
        const mine = document.getElementById("mine");
        const add = document.getElementById("add");

        const tabs = document.getElementsByClassName("tab");

        if (tab === "mine") {
            mine.classList.remove("hidden");
            add.classList.add("hidden");

            tabs[0].classList.add("active");
            tabs[0].classList.remove("inactive");

            tabs[1].classList.add("inactive");
            tabs[1].classList.remove("active");
        } else {
            add.classList.remove("hidden");
            mine.classList.add("hidden");

            tabs[1].classList.add("active");
            tabs[1].classList.remove("inactive");

            tabs[0].classList.add("inactive");
            tabs[0].classList.remove("active");
        }
    }
    </script>

    </body>
</html>