<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Sign In</title>
</head>
<body>

  <div class="login-container">
    <h2>Sign In</h2>
    <form method="POST">
        <input name="username" placeholder="Username">
        <input name="first" placeholder="First Name">
        <input name="last" placeholder="Last Name">
        <input name="password" type="password" placeholder="Password">

        <select name="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>

        <button type="submit">Register</button>
    </form>
  </div>

</body>
</html>



