<!DOCTYPE html>
<html>
    <head>
        <title>Teacher Management</title>
    </head>
    <body>

        <div class="header">
            <div>Teacher Management</div>
            <div><a style="color:white" href="/logout">Logout</a></div>
        </div>

        <div class="container">

            <h2>Student Management</h2>

            <table>
                <tr> <!--title row-->
                    <th>Name</th>
                    <th>Username</th>
                    <th>Courses</th>
                    <th>Actions</th>
                </tr>

                {% for s in students %}
                <tr>
                    <td>{{ s.name }}</td>
                    <td>{{ s.username }}</td>
                    <td>{{ s.courses|length }}</td>
                    <td>
                        {% for c in courses %}
                            {% if c.id not in s.courses %}
                                <a href="/teacher/add/{{ s.username }}/{{ c.id }}">Add {{ c.name }}</a><br>
                            {% else %}
                                <a href="/teacher/remove/{{ s.username }}/{{ c.id }}">Remove {{ c.name }}</a><br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>