<!DOCTYPE html>
<html>
    <head>
        <title>{{ course.name }}</title>
        <link rel="stylesheet" href="../static/css/teacher_course.css">
    </head>

    <body>

    <h2>{{ course.name }} - Gradebook</h2>

    <form method="POST">
        <table>
            <tr> <!--title row-->
                <th>Student</th>
                <th>Username</th>
                <th>Grade</th>
            </tr>

            {% for s in students %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.username }}</td>
                <td>
                    <input name="grade_{{ s.username }}" value="{{ s.grade }}">
                </td>
            </tr>
            {% endfor %}
        </table>
    <button type="submit">Save Grades</button>

    </form>

    <br>
    <a href="/teacher">← Back</a>

    </body>
</html>